[Unit]
#Reqs
Description=Cool Web3D demo
Requires=docker.service
#Requires=quil-discovery@%i.service

#Ordering
#Before=quil-discovery@%i.service
After=docker.service
 
[Service]
TimeoutStartSec=0
#Pre: Kill old jobs and make sure we have the package
ExecStartPre=-/usr/bin/docker kill quil_3d.%i
ExecStartPre=/usr/bin/docker pull armyofevilrobots/hello_quil_3d:v1
#Starting: note the --rm
ExecStart=/usr/bin/docker run --rm --name quil_3d.%i -p 5000:5000 armyofevilrobots/hello_quil_3d:v1 /usr/bin/java -jar /uberjar.jar

#Stopping is just simple
ExecStop=/usr/bin/docker stop quil_3d.%i
 
[X-Fleet]
X-Conflicts=quil_3d.*.service
