[Unit]
Description=quil3d web server number %i etcd registration

# Requirements
Requires=etcd.service
Requires=quil3d@%i.service

# Dependency ordering and binding
After=etcd.service
After=quil3d@%i.service
BindsTo=quil3d@%i.service

[Service]

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Start
## Test whether service is accessible and then register useful information
## The 80 ports used to be %i , but I centralized on port 80 for simplicity
ExecStart=/bin/bash -c '\
  /usr/bin/etcdctl mkdir /services/quil3d;\
  while true; do \
    /usr/bin/curl -f ${COREOS_PRIVATE_IPV4}:5000; \
    if [ $? -eq 0 ]; then \
      /usr/bin/etcdctl set /services/quil3d/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:5000\' --ttl 10; \
    else \
      /usr/bin/etcdctl rm /services/quil3d/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 5; \
  done'

# Stop
ExecStop=/usr/bin/etcdctl rm /services/quil3d/${COREOS_PRIVATE_IPV4}

[X-Fleet]
# Schedule on the same machine as the associated quil3d service
# X-ConditionMachineOf=quil3d@%i.service
MachineOf=quil3d@%i.service
